extends ./layout.jade

block content
  .about-me
    hr
    p.fade-in-slow.delay-1 Hello, my name is Ben McMahen
    p.fade-in-slow.delay-2 I love creating fun & beautiful experiences for the web
    p.fade-in-slow.delay-3 read my <a href='/blog'>blog</a>
    p.fade-in-slow.delay-4 check out my <a href='/projects'>projects</a>
    p.fade-in-slow.delay-5 <a href='mailto:ben.mcmahen@gmail.com'>email</a> me
