extends ./layout.jade

block content
  .about-me
    p.fade-in-slow.delay-1 Hello, my name is Ben McMahen
    p.fade-in-slow.delay-2 I love creating fun & beautiful experiences for the web
    p.fade-in-slow.delay-3 read my <a href='http://blog.benmcmahen.com'>blog</a>
    p.fade-in-slow.delay-4 check out my <a href='#projects'>projects</a>
    p.fade-in-slow.delay-5 email me <a href='mailto:ben.mcmahen@gmail.com'>ben.mcmahen@gmail.com</a>
  .more-about-me.fade-in-slow.delay-6
    p Most of my experience consists of web design and client side development, with an emphasis on HTML, CSS, and Javascript. I love to build modular, lean, well-tested javascript, and I have experience with numerous Javascript frameworks/libraries, including React, and Backbone. I also work on the server-side, having built many projects using Node.js. To get a sense of my work, check out some of my recent projects, and check out my <a href=‘https://github.com/bmcmahen'>github page</a> to peruse some of my code. 
  ul.grid#projects
    li.col-1-3.mobile-col-1
      img(src='/images/projects/justplum.jpg')
      .meta
        h4 <a href='https://justplum.org'>JustPlum</a>
        p Create, discover, and share beautiful recipes.
    li.col-1-3.mobile-col-1
      img(src='/images/projects/subtitles.jpg')
      .meta
        h4 <a href='http://subtitles.fiddleware.com'>Fiddleware Subtitles</a>
        p A web application for creating captions for you YouTube, Vimeo, or Mp4 videos. Built using Meteor.
    li.col-1-3.mobile-col-1
      img(src='/images/projects/montage.jpg')
      .meta
        h4 <a href='https://github.com/bmcmahen/Montage'>Montage</a>
        p An experimental home media center based on node   
  ul.grid
    li.col-1-3.mobile-col-1
      img(src='/images/projects/mindmap.jpg')
      .meta
        h4 <a href='http://eugenicsarchive.ca/discover/connections'>Eugenics Archive - Connections</a>
        p Explore the connections between people, concepts, places and events on an interactive network. Built using Component & Express.
    li.col-1-3.mobile-col-1
      img(src='/images/projects/institutions.jpg')
      .meta
        h4 <a href='http://eugenicsarchive.ca/discover/institutions'>Eugenics Archive - Institutions</a>
        p Institutions & Residential schools in Western Canada. Built using Mapbox, Express & Component.
    li.col-1-3.mobile-col-1
      img(src='/images/projects/media.jpg')
      .meta
        h4 <a href='http://eugenicsarchive.ca/discover/media'>Eugenics Archive - Media</a>
        p View Images and Videos contained within the Eugenics Archive database. Built using Express & Component.
  ul.grid
    li.col-1-3.mobile-col-1
      img(src='/images/projects/world.jpg')
      .meta
        h4 <a href='http://eugenicsarchive.ca/discover/world'>Eugenics Archive - Around the World</a>
        p View the history of eugenics around the world. Built using d3, Express, & Component.
    li.col-1-3.mobile-col-1
      img(src='/images/projects/timeline.jpg')
      .meta
        h4 <a href='http://eugenicsarchive.ca/discover/timeline'>Eugenics Archive - Timeline</a>
        p An interactive timeline for displaying the history of eugenics in Canada and internationally. Built using Component & Express.    
    li.col-1-3.mobile-col-1
      img(src='/images/projects/mcmahen.jpg')
      .meta
        h4 <a href='http://chrismcmahen.com'>Chris McMahen - Author</a>
        p Author page for Chris McMahen.
  footer
    p Interested in hiring? <a href='mailto:ben.mcmahen@gmail.com'>Email me</a>
