html
  head
  link(href='/styles.css', rel='stylesheet', type='text/css')
  link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', rel='stylesheet', type='text/css')
  script(src="//use.typekit.net/job3khb.js")
  script try{Typekit.load();}catch(e){}
  meta(name="viewport", content="width=device-width, initial-scale=1")
body(class=pageName)
  nav.navigation
    .page-nav
      a.ben(href='/', title='About Me')
      a(href='/blog', title='Blog')
        i.ion-ios7-paper
      a(href='/projects', title='Projects')
        i.ion-ios7-albums
      a(href='https://twitter.com/@benmcmahen', title='Twitter')
        i.icon.ion-social-twitter
      a(href='https://github.com/bmcmahen', title='Github')
        i.icon.ion-social-github
    .social-nav

  article
    block content
  script(src='/app.js')
