html
  head
  link(href='/styles.css', rel='stylesheet', type='text/css')
  link(href='http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css', rel='stylesheet', type='text/css')
  link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/default.min.css")
  script(src="//use.typekit.net/job3khb.js")
  script try{Typekit.load();}catch(e){}
  meta(name="viewport", content="width=device-width, initial-scale=1")
body(class=pageName)
  nav.navigation
    a(href='/', title='About Ben McMahen')
      .me
    .page-nav
      a(href='/')
        span about
        i.ion-ios7-home
      a(href='/blog')
        span blog
        i.ion-ios7-paper
      a(href='/projects')
        span projects
        i.ion-ios7-box
      a(href='https://twitter.com/@benmcmahen')
        span twitter
        i.ion-social-twitter
      a(href='https://github.com/bmcmahen')
        span github
        i.ion-social-github

  article
    block content
  script(src='/app.js')
