extends ./layout.jade

block content
  .intro.blog!=contents
  for post in collections.posts
    .story(style='background-image: url('+ post.headerAbsolutePath +');')
      .meta
        a(href='/'+ post.path)
          h4=post.title
